.form-give-consent {
    text-align: center;
}

mat-checkbox {
    display: block;
}

mat-card {
    width: 40%;
    text-align: left;
    margin: 0 auto;
}

mat-error {
    font-size: 12px;
}

.disabled {
    opacity: .3;
}