<form class="form-give-consent" [formGroup]="giveConsentForm" (ngSubmit)="onSubmit()">
	<div>
		<mat-form-field>
			<input matInput placeholder="Name" formControlName="name">
			<mat-error *ngIf="giveConsentForm.get('name').invalid">Please enter your name</mat-error>
		</mat-form-field>

		<mat-form-field class="ml-1">
			<input matInput placeholder="Email adress" formControlName="email">
			<mat-error *ngIf="giveConsentForm.get('email').invalid">Please enter your valid email adress</mat-error>
		</mat-form-field>
	</div>

	<p>I agree to:</p>

	<mat-card formGroupName="consents">
		<!-- <mat-checkbox formControlName="newsletter">Receive newsletter</mat-checkbox>
		<mat-checkbox formControlName="ads">Be shown targeted ads</mat-checkbox>
		<mat-checkbox formControlName="stats">Contribute to anonymous visit statistics</mat-checkbox>
		<mat-error *ngIf="submitted && !isConsentGiven()">Please give at least one consent</mat-error> -->

		<mat-checkbox
			*ngFor="let consent of consentMap | keyvalue"
			formControlName="{{consent.key}}"
			>
			{{consent.value}}
		</mat-checkbox>
		<mat-error *ngIf="submitted && !isConsentGiven()">Please give at least one consent</mat-error>
	</mat-card>

	<button
		class="mt-2"
		type="submit"
		mat-raised-button
		color="accent"
		[ngClass]="{
			disabled: !isFormValid()
		}"
		>
		Give consent
	</button>
</form>