<ng-container *ngIf="consentList.length">
	<table class="mb-1">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th class="align-left">Consent given for</th>
		</tr>
		<tr *ngFor="let user of consentList.slice(page * itemsPerPage, page * itemsPerPage + itemsPerPage)">
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
			<td>{{user.consentArray.join(', ')}}</td>
		</tr>
	</table>

	<div class="pagination">
		<a
			mat-raised-button
			color="primary"
			(click)="goToPage(page - 1)"
			[disabled]="page === 0"
			>
			<< Previous page
		</a>

		<div>
			<a
				mat-mini-fab
				color="primary"
				*ngFor="let item of array(numOfPages); let i = index;"
				(click)="goToPage(i)"
				[disabled]="page === i"
				>
				{{i + 1}}
			</a>
		</div>

		<a
			mat-raised-button
			color="primary"
			(click)="goToPage(page + 1)"
			[disabled]="page === numOfPages - 1"
			>
			Next page >>
		</a>
	</div>
</ng-container>